.photo-grid{
  width: calc(100% - 48px * 2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);  
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid{
    grid-template-columns: repeat(2, 1fr);  
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid{
    grid-template-columns: 1fr;  
    gap: 12px;
  }
}