.cover__subtitle{
  margin: 0 auto;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  grid-row: 5/span 1;
  grid-column: 1/span 4;
  align-content: end;
  z-index: 1;
}

@media screen and (max-width: 530px){
  .cover__subtitle{
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle{
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}