.place__paragraphs{
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media screen and (max-width: 768px){
  .place__paragraphs{
  }
}

@media screen and (max-width: 480px){
  .place__paragraphs{
    margin: 0 16px;
  }
}