.lead__title{
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 680px){
  .lead__title{
    font-size: 65px;
    line-height: 110%;
  }
}

@media screen and (max-width: 460px){
  .lead__title{
    font-size: 40px;
    line-height: 44px;
  }
}