.cover__overlay{
  display: grid;
  grid-auto-columns: minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
  align-items: center;
  opacity: 0.8;
  transition: opacity 2s;
  color: #fff;
  text-decoration: none;
}

/*.cover__overlay:hover{
  opacity: 0.3;
}*/