.cover__title{
  max-width: 560px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  grid-row: 3/span 2;
  grid-column: 1/span 4;
  z-index: 1;
}

@media screen and (max-width: 530px){
  .cover__title{
    margin: 0 auto 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px){
  .cover__title{
    margin: 0 auto 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}