.place{
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-auto-rows: minmax(min-content, max-content);
  justify-content: center;
  justify-self: center;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px){
  .place{
    grid-template-columns: fit-content(440px) fit-content(456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px){
  .place{
    grid-template-columns: fit-content(340px) fit-content(352px);
  }
}

@media screen and (max-width: 480px){
  .place{
    grid-template-columns: fit-content(320px);
    gap: 32px;
  }
}