.footer{
  max-width: 100%;
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer{
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 725px){
  .footer{
    align-items: flex-end;
  }
}

@media screen and (max-width: 530px){
  .footer{
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin: 64px 0 24px 16px;
  }
}