.place__website{
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

@media screen and (max-width: 320px){
  .place__website{
    gap: 12px;
    margin: 0 16px;
  }
}